.maindiv {
    width: 100%;
    margin:20px auto;
    background-color: black;
    color: aliceblue;

}
input {
    width: 50%;
    padding: 10px 0;
    margin:15px  auto;
    font-size: large;
}
.inputdiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
}

button {
   padding: 7px 25px;
    width: min-content;
    margin: 15px auto;
    font-size: large;
   
   

}

.card {
    display: flex;
    flex-wrap: wrap;
    

}
.imagediv {
    padding: 10px;
    border: 1px solid white;
}